// @newsTicker: {
.news-ticker {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.news-items {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
}

.news-item {
  display: block;
  width: 100%;
}

// };
// & {
//   #art .namespace();
//   .module(news-ticker, @newsTicker);
// }