.idea/
.vscode/
node_modules/
.DS_Store
*.tgz
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog

**/bridge.ts
**/bridge.js

**/requestConfig.ts
**/requestConfig.js

**/core_all

**/art-app

**/index.template.ejs

note.md

**/artIndex.hbs